.home-page-nav {
  list-style-type: none;
   margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  height: 50px;
  
}
.home-page-nav  li  {
  padding: 10px;
 
  
}
.home-page-nav li a {
  text-decoration: none;
  text-align: left;
  color: #000;
  padding: 8px ;
}
.home-page-nav li a:hover {
  background-color:dodgerblue;
  color: white;
}